{% extends 'base.html' %}

{% block content %}
<h1>Каталог товаров</h1>

<form method="get">
    <label for="sort">Сортировать по:</label>
    <select name="sort" id="sort" onchange="this.form.submit()">
        <option value="">Выберите...</option>
        <option value="price">Цена</option>
        <option value="-price">Цена (убывание)</option>
        <option value="name">Название</option>
    </select>
</form>

<h2>Каталог товаров</h2>
<ul>
    {% for product in products %}
    <li>
        <h3>{{ product.name }}</h3>
        <p>{{ product.price }} BYN</p>
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <p>{{ product.description }}</p>
    </li>
    {% endfor %}
</ul>

{% endblock %}
