{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать в Суши Доставку!</h1>
<p>У нас вы найдете свежие и вкусные сеты, суши и роллы.</p>

<section>
    <h2>Популярные товары</h2>
    <ul>
        {% for product in popular_products %}
        <li>
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }} BYN</p>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 200px;">
            <p>{{ product.description }}</p>
        </li>
        {% endfor %}
    </ul>
</section>

<a href="{% url 'shop:catalog' %}">Перейти в каталог</a>
{% endblock %}
