<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Суши Доставка</title>
</head>
<body>
<header>
    <h1>Суши Доставка</h1>
    <nav>
        <a href="{% url 'shop:index' %}">Главная</a>
        <a href="{% url 'shop:catalog' %}">Продукты</a>
        <a href="{% url 'shop:login' %}">Вход</a>
        <a href="{% url 'shop:register' %}">Регистрация</a>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>&copy; 2025 Суши Доставка</p>
</footer>
</body>
</html>
